
        name: string;
        email: string;
        active_status: string;
        role: string;
        created_at: string;
        updated_at: string;
        profile: {
            profile_photo:string;
            bio:string;
            user_id:string;
            created_at:string;
            updated_at:string;
        }